*{
    margin: 0px;
    padding: 0px;
}

/* Assignment 1: */

.background1 {
    background-color:#62374e;
}

.row1 {
    height:50vh;
}

.square1 {
    display:inline-block;
    background-color:#fdc57b;
    height: 100px;
    width: 100px;
}

/* Assignment 2: */

.background2 {
    background-color:#62306d;
}

.row2 {
    position: relative;
    top: -5px;
}

.pendant {
	display: inline-block;
}

.top-circle2 {
    background-color:#f7ec7d;
    border-radius:50%;
    width: 200px;
    height: 200px;
    position: relative;
    top: 100px;
}

.bottom-circle2 {
    background-color:#f7ec7d;
    border-radius:50%;
    width: 200px;
    height: 200px;
    position: relative;
    z-index: -10;
    top: -100px;
}

.square2 {
    background-color:#f7ec7d;
    width: 200px;
    height: 110px;
    z-index: -10;
    position: relative;
}

/* Assignment 3 */

.menu { background-color: #333333;
    height: 8vh;
    display: flex;
    flex-wrap: wrap;
}

.menu-item {
    display: inline-block;
    background-color: #333333;
    color:#ffffff;
    padding-top: 1%;
}

.menu-item:active{background-color:#04aa6d}
.menu-item:hover{background-color:#04aa6d}
.menu-item:visited{background-color:#04aa6d}

/* assignment 4 */

.background4 {
    background-color: #de5264;
 }

 .corner1 {
    display: inline-block;
    background-color: #5ab2ab;
    height: 200px;
    width: 200px;
    border-radius: 200px 0px 0px 0px;
    margin-top: 100px;
    margin-bottom: 0px;
    margin-left: 32vw;
    margin-right: 0px;
    top: 5px;
    position: relative;
 }

 .corner2 {
    display: inline-block;
    background-color: #d2dc74;
    height: 200px;
    width: 200px;
    border-radius: 0px 200px 0px 0px;
    margin-left: 0px;
    margin-top: 0px;
    left: -4px;
    top: 5px;
    position: relative;
 }

 .corner3 {
    display: inline-block;
    background-color: #dbdfcf;
    height: 200px;
    width: 200px;
    border-radius: 0px 0px 0px 200px;
    margin-left: 32vw;
    margin-top: 0px
 }